@{
    ViewData["Title"] = "Inicio";
}

    <div class="container text-center">

        <br />
        <br />
        <br />

        <h4>Secretaria de Desarrollo Rural</h4>
        <h4>Sistema de control y seguimiento de Correspondencia</h4>

        <br />
        <br />
        <div data-spy="scroll">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Enviado</th>
                        <th scope="col">Dirección destino</th>
                        <th scope="col">Remitente</th>
                        <th scope="col">Dirección remitente</th>
                        <th scope="col">Puesto remitente</th>
                        <th scope="col">Tipo de documento</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Documento fisico</th>
                        <th scope="col">Fecha captura</th>
                        <th scope="col">Visualizar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Si</td>
                        <td>Direccion1</td>
                        <td>Remitente1</td>
                        <td>Direccion2</td>
                        <td>Puesto1</td>
                        <td>Invitacion</td>
                        <td>Pendiente</td>
                        <td>Si</td>
                        <td>14/03/2018</td>
                        <td>Ver</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>