@{
    ViewData["Title"] = "Inicio";
}

    <div class="container text-center">

        <br />
        <br />
        <br />

        <h4>Secretaria de Desarrollo Rural</h4>
        <h4>Sistema de control y seguimiento de Correspondencia</h4>

        <br />
        <br />
        <div data-spy="scroll">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Enviado</th>
                        <th scope="col">Dirección destino</th>
                        <th scope="col">Remitente</th>
                        <th scope="col">Dirección remitente</th>
                        <th scope="col">Puesto remitente</th>
                        <th scope="col">Tipo de documento</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Documento fisico</th>
                        <th scope="col">Fecha captura</th>
                        <th scope="col">Visualizar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Si</td>
                        <td>Otto</td>
                        <td>kajdnja</td>
                        <td>asdawes</td>
                        <td>asdasd</td>
                        <td>fhjg</td>
                        <td>dfgdfg</td>
                        <td>dfgdsfg</td>
                        <td>fvs</td>
                        <td>sfsef</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>r</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>eed</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>