@{
    ViewData["Title"] = "Login";
}

    <div class="d-flex flex-column align-items-center ">
        <img src="~/img/iconfinder_user_male_172625.png" class="mb-4 mt-5 rounded-circle border border-dark" alt="User Image" />
        <input id="Text1" class="mb-3" type="text" />
        <input id="Password1" class="mb-3" type="password" />
        <input id="Submit1" type="submit" class="btn btn-secondary" value="Iniciar sesión" />
        
       
    </div>

