
@{
    ViewData["Title"] = "Detalle";
}
    <div class="container">
        <br />
        <br />
        <h1 class="align-content-md-center ">Documento</h1>
        <br />
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-3">
                <label class="align-content-center font-weight-bold">Folio</label><br />
                <label class="align-content-center">1805154512</label>
                <br />
                <br />
                <button type="submit" name="PDF" class="btn btn-light" value="Ver PDF"><img src="~/img/iconfinder_file-pdf_383140.svg" /></button>
                <br />
                <br />
            </div>
            <div class="col-md-3">
                <label class="align-content-lg-center font-weight-bold">No Oficio</label><br />
                <label class="align-content-center">154512</label>
                <br />
                <br />
                <label class="align-content-lg-center font-weight-bold">Cargo Firmante</label><br />
                <label class="align-content-center">Docente</label>
                <br />
                <br />
                <label class="align-content-lg-center font-weight-bold">Fecha de Captura</label><br />
                <label class="align-content-center">13/05/2019</label>
                <br />
                <br />
                <label class="align-content-lg-center font-weight-bold">Estado</label><br />
                <label class="align-content-center">Recibido</label>
            </div>
            <div class="col-md-3">
                <label class="align-content-lg-center font-weight-bold">Firmante</label><br />
                <label class="align-content-center">Hector Barbosa</label>
                <br />
                <br />
                <label class="align-content-lg-center font-weight-bold">Correo Firmante</label><br />
                <label class="align-content-center">barbosa@itcolima.edu.mx</label>
                <br />
                <br />
                <label class="align-content-lg-center font-weight-bold">Destinatario</label><br />
                <label class="align-content-center">SEDER</label>
                <br />
                <br />
                <label class="align-content-lg-center font-weight-bold">Tipo Documento</label><br />
                <label class="align-content-center">Invitación</label>
            </div>
            <div class="col-md-3">
                <label class="align-content-lg-center font-weight-bold">Origen</label><br />
                <label class="align-content-center">Tecnologico de Colima</label>
                <br />
                <br />
                <label class="align-content-lg-center font-weight-bold">Numero telefonnico</label><br />
                <label class="align-content-center">3121128425</label>
                <br />
                <br />
                <label class="align-content-lg-center font-weight-bold">Correo Electronico </label><br />
                <label class="align-content-center">SEDER@Complejo.com</label>
                <br />
                <br />
                <label class="align-content-center font-weight-bold">Existe Fisicamente</label><br />
                <label class="align-content-center">Si</label>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="card border-secondary ">
                    <div class="card-header">Resumen</div>
                    <div class="card-body text-secondary">
                        <h5 class="card-title">Secondary card title</h5>
                        <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', 
                        making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a 
                        search for 'lorem ipsum' will uncover many web sites still in their infancy. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-secondary ">
                    <div class="card-header">Respuesta</div>
                    <div class="card-body text-secondary">
                        <h5 class="card-title">Secondary card title</h5>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever 
                        since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but 
                        also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing 
                        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
