@{
    ViewData["Title"] = "Buscar";
}

    <div class="container">

        <br />
        <br />
        <br />
        <!--
    <div class="d-flex m-3">
        <select id="year" class="custom-select-lg mr-3">
            <option>Año</option>
            <option>2019</option>
            <option>2018</option>
        </select>
        <select id="state" class="custom-select-sm">
            <option>Esatado</option>
            <option>Atendido</option>
            <option>Pendiente</option>
        </select>
    </div>
    <div class="d-flex">
        <select id="destiny">
            <option>Destino</option>
            <option>Destino1</option>
            <option>Destino2</option>
        </select>
        <select id="sender">
            <option>Remitente</option>
            <option>Remitente1</option>
            <option>Remitente2</option>
        </select>
    </div>
        -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Año</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" style="max-width: 100px; margin-right: 85px;">
                <option selected></option>
                <option value="1">2019</option>
                <option value="2">2018</option>
                <option value="3">2017</option>
            </select>

            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Estado</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" style="max-width: 140px;">
                <option selected></option>
                <option value="1">Completado</option>
                <option value="2">Pendiente</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Destino</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" style="max-width: 120px; margin-right: 40px;">
                <option selected></option>
                <option value="1">Destino1</option>
                <option value="2">Destino2</option>
                <option value="3">Destino3</option>
            </select>

            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Remitente</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" style="max-width: 130px;">
                <option selected></option>
                <option value="1">Remitente1</option>
                <option value="2">Remitente2</option>
            </select>
        </div>

        <br />
        <br />

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Enviado</th>
                    <th scope="col">Dirección destino</th>
                    <th scope="col">Remitente</th>
                    <th scope="col">Dirección remitente</th>
                    <th scope="col">Puesto remitente</th>
                    <th scope="col">Tipo de documento</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Documento fisico</th>
                    <th scope="col">Fecha captura</th>
                    <th scope="col">Visualizar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Si</td>
                    <td>Direccion1</td>
                    <td>Remitente1</td>
                    <td>Direccion2</td>
                    <td>Puesto1</td>
                    <td>Invitacion</td>
                    <td>Pendiente</td>
                    <td>Si</td>
                    <td>14/03/2018</td>
                    <td>Ver</td>
                </tr>
            </tbody>
        </table>
    </div>
